@import 'reset.css';

body {
  font-family: Arial, Verdana, sans-serif;
}

header {
  position: relative;
}

header nav {
  text-transform:uppercase;
  position:fixed;
  width:100%;
  height:60px;
  line-height:60px;
  text-align:center;
  /*padding:10px;
  margin-right:20px;*/
}

header nav h1, header nav ul, header nav ul li {
  display:inline-block;
}

header nav img {
  height:100px;
  width:100px;
  padding:30px;
  /*float:left;*/
}

header nav h1 {
  display:none;
}

/*header nav h1 {
  float:left;
  margin:0 10px;
}*/

header nav ul {
  display:none;
  float:right;
}

header nav ul li {
  margin:0 10px;
}

header > img {
  width:100%;
  height:auto;
}

section {
  padding:30px 10px;
}

section h2 {
  font-size:20px;
  text-align:center;
  text-transform:uppercase;
  margin:30px 0 50px 0;
}

section#earth p {
  width:60%;
}

section#earth img {
  float:right;
}
