@import 'reset.css';

header {
  position: relative;
}

header nav {
  padding:10px;
  position:fixed;
  width:100%;
  height:60px;
  line-height: 60px;
}

header nav h1, header nav ul, header nav ul li {
  display:inline-block;
}

header nav img {
  height:50px;
  width:50px;
  float:left;
}

header nav h1 {
  float:left;
  text-transform: uppercase;
}

header nav ul {
  float:right;
  margin-right: 20px;
}

header > img {
  width:100%;
  height:auto;
}
