body {
  background-color:#F5F5F6;
  margin:0;
  font-family: Arial, Verdana, sans-serif;
}
  
h1, h2, h3 {
  text-transform: capitalize;
}

header, main, footer {
  width:75vw;
}

header, footer {
  text-align:center;
  color: #FFFFFF;
}

header div#banner {
  background: url('../img/banner.jpg') no-repeat fixed;
  background-size: contain;
  position:absolute;
  width:100%;
  height:150px;
  left:0;
  z-index:-1;
}

header img {
  width:150px;
  height:auto;
  border-radius:150px;
  border:10px solid #FF8787;
  margin-top:75px;
}
header span {
  color: #B4AFDE;
}

aside {
  text-align: center;
  position:fixed;
  right:0;
  top:0;
  display:inline-block;
  float:right;
  width:20vw;
  height:100vh;
  background-color:#100D26;
  color:#FFFFFF;
}

aside img {
  margin:10px;
}

main, footer {
  padding:10px;
}

main section {
  background-color: #A29DC9;
  border-radius: 5px;
  padding:0.5px 17px 5px 17px;
  margin-bottom:30px;
  position:relative;
}

main section:before {
  content:'';
  width:75.5vw;
  height: calc(100% + 10px);

  background-color:#645D9C;
  position:absolute;
  z-index:-1;
  top:0;
  left:0;

  border-radius:15px;
  border-bottom-right-radius:5px;
}

footer form input {
  width:20vw;
  height:30px;
  border-radius: 5px;
  border:none;
}

footer form input[type=submit]:hover {
    cursor:pointer;
}

footer form textarea {
  width:20vw;
  height:100px;
  border-radius:5px;
  border:none;
  resize:none;
}
