main {
	width: 100vw;
	height: 100vh;
}


header img#imgone{
  margin-bottom: auto;
  width: 30%;
  margin-bottom: auto;
  margin-right: 70%;
  align-content: center;

}

header img#imgtwo{
  margin-bottom: 0px;
  width: 30%;

  border-radius: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  border: solid;
  
}

div {
  text-align: center;
  color: black;
  padd
  
}

main section#about {
	background-color: #5FA8D3;


}
main section#passion {
	background-color: #D4F4DD;
}

section {
  
  width: 100%;
  height: auto;
  padding: 20px 0;
  text-align: center;
  color: black;
  background-color: white;
}

article {
  width: 100%;
  height: auto;
  padding: 20px 0;
  text-align: center;
  color: black;
  background-color: white;
}

p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}
footer {
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: black;
  background-color: white;

}


@media screen and (min-width: 860px) {
section >p {
  margin-right: 630px;
  font-size: 18px;
  line-height: 1.5;
}
@media screen and (min-width: 860px) {
  article > p{
  margin-right: 630px;
  font-size: 18px;
  line-height: 1.5;

}

@media screen and (max-width: 860px) {
    footer{
        width: 100%;
		    height: 30%;

}
}



